.passwordGenerator {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  header {
    h1 {
      font-size: var(--fs-small);
      line-height: 1.3125rem;
      color: var(--clr-grey);
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    gap: 1.5rem;

    header {
      h1 {
        font-size: var(--fs-large);
        line-height: 1.98rem;
      }
    }
  }
}
