.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .text {
    font-size: var(--fs-large);
    line-height: 1.98rem;
  }

  .icon {
    color: var(--clr-neon-green);
    font-size: var(--fs-base);
    cursor: pointer;
  }

  @media (min-width: 768px) {
    padding: 1.125rem 2rem;

    .text {
      font-size: var(--fs-xlarge);
      line-height: 2.64rem;
    }

    .icon {
      font-size: var(--fs-large);
    }
  }
}
